body {
  background-color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
* {
  font-size: 12px;
}
.alice-carousel__wrapper .alice-carousel__prev-btn,
.alice-carousel__wrapper .alice-carousel__next-btn {
  display: none !important;
}

.react-player {
  background: #000;
  height: 100% !important;
  width: 100% !important;
  border: 5px solid #6bee99;
  border-radius: 20px !important;
  overflow: hidden;
}